<mat-card>
  <mat-card-content>
    <div class="header">
      <h2>Register</h2>
    </div>
    <form>
      <div>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Enter UserName</mat-label>
          <input matInput placeholder="Enter userName">
        </mat-form-field>
      </div>

      <div class="email-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Enter Email</mat-label>
          <input matInput placeholder="Enter Email">
        </mat-form-field>
      </div>

      <div class="password-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Enter password</mat-label>
          <input matInput placeholder="Enter password">
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
</mat-card>
